<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0"
	configfailurepolicy="continue">
	<parameter name="wmts" value="" />
	<parameter name="tes" value="" />

	<listeners>
		<listener
			class-name="org.opengis.cite.wmts10.core.SuiteFixtureListener" />
	</listeners>

	<test name="Preconditions">
		<classes>
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.Prerequisites" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 2 KVP">
		<classes>
			<!-- TODO : add tests -->
			<!-- DGWIG requirement 2 A WMTS Server shall support HTTP GET operation 
				using KVP (clause 8 of OGC WMS) and RESTful (clause 10 of OGC WMTS 1.0) encodings. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesOperations" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 2 RESTful">
		<classes>
			<!-- TODO : add tests -->
			<!-- DGWIG requirement 2 A WMTS Server shall support HTTP GET operation 
				using KVP (clause 8 of OGC WMS) and RESTful (clause 10 of OGC WMTS 1.0) encodings. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesRest" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 3 CRS">
		<classes>
			<!-- TODO : add tests -->
			<!-- DGWIG requirement 3 A WMTS server shall support at least on the folowwing 
				WKKS : see DGIWG ANNEX B.1 (EPSG:3395), B.2 (EPSG:4326 and CRS 84) and B.3 
				(UPS Tiles EPSG:5041 and EPSG:5042).. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesCrsTest" />
		</classes>
	</test>


	<test name="DGIWG WMTS requirement 3 PROJECTION ">
		<classes>
			<!-- TODO : add tests -->
			<!-- DGWIG requirement 3 A WMTS server shall support at least on the folowwing 
				WKKS : see DGIWG ANNEX B.1 (EPSG:3395), B.2 (EPSG:4326 and CRS 84) and B.3 
				(UPS Tiles EPSG:5041 and EPSG:5042).. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesProjectionTest" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 4">
		<classes>
			<!-- TODO : add tests -->
			<!-- DGWIG requirement 4 A WMTS server shall provide tiles in at least 
				one of the following raster formats : • image/png (Portable Network Graphics) 
				• image/gif (Graphics Interchange Format) • image/jpeg (Joint Photographics 
				Expert Group). -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.gettile.GetTileOfferings" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 5">
		<classes>
			<!-- TODO : add tests -->
			<!-- If a WMTS server is providing services to a coalition mission federated 
				network, in support of operations or an exercise, it shall provide a minimum 
				keyword list, based on ISO 19115 Topic Categories. It's recommended to provide 
				additional details based on the DGIF groups. The provision of these keywords 
				elements are optional for a WMTS server which is providing services across 
				one single non-mission network. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesKeywordTest" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 6">
		<classes>
			<!-- TODO : add tests -->
			<!-- A WMTS server shall provide the service exceptions in the English 
				language. Exception text content may also be provided in additional languages, 
				but English must always be included.. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getfeatureinfo.interactive.GetFeatureInfoExceptionInEnglishLanguageTest" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 7">
		<classes>
			<!-- TODO : add tests -->
			<!-- A WMTS server shall provide an "Abstract" at the service level, in 
				the in the GetCapabilities response document.. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAbstractTest" />
		</classes>
	</test>

	<test name="DGIWG WMTS requirement 8 part 1">
		<classes>
			<!-- TODO : add tests -->
			<!-- If a WMS server is providing services to a coalition mission federated 
				network, in support of operations or an exercise, it shall provide "ServiceContact", 
				"AccessConstraints" and "KeywordList" elements. The provision of these metadata 
				elements are optional for a WMTS server which is providing services across 
				one single non-mission network.. -->
			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesAccessConstraintTest" />

		</classes>
	</test>
	
		<test name="DGIWG WMTS requirement 8 part 2">
		<classes>
			<!-- TODO : add tests -->
			<!-- If a WMS server is providing services to a coalition mission federated 
				network, in support of operations or an exercise, it shall provide "ServiceContact", 
				"AccessConstraints" and "KeywordList" elements. The provision of these metadata 
				elements are optional for a WMTS server which is providing services across 
				one single non-mission network.. -->

			<class
				name="org.opengis.cite.wmts10.core.dgiwg.testsuite.getcapabilities.GetCapabilitiesContentTest" />
		</classes>
	</test>

</suite>
