<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="${ets-code}-${project.version}" verbose="0" configfailurepolicy="continue">
  <parameter name="wmts" value="" />
  <parameter name="tes" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.wmts10.core.SuiteFixtureListener" />
  </listeners>

  <test name="Preconditions">
    <classes>
      <class name="org.opengis.cite.wmts10.core.dgiwg.testsuite.Prerequisites" />
    </classes>
  </test>
  


  <test name="DGIWG WMTS">
    <classes>
      <!-- TODO : add tests -->
      <!-- DGWIG requirement 2 A WMTS Server shall support HTTP GET operation using KVP (clause 8 of OGC WMS) and RESTful (clause 10 of OGC WMTS 1.0) encodings.-->
      <class name="org.opengis.cite.wmts10.core.dgiwg.testsuite.gettile.GetTileCachingInfo" />
      
      
    </classes>
  </test>
</suite>
